<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.eqxuan.peers.mapper.UserGroupMapper">
    <resultMap id="UserGroupMapperResultMap"
               type="com.eqxuan.peers.dao.UserGroup">
        <id column="group_id" property="groupId"/>
        <result column="open_id" property="openId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="ct_time" property="ctTime"/>
        <result column="up_time" property="upTime"/>
        <result column="share" property="share"/>
        <result column="hint" property="hint"/>
    </resultMap>
    <sql id="Base_Column_List">
        group_id, open_id, del_flag, ct_time, up_time, share, hint
    </sql>

    <insert id="save" parameterType="com.eqxuan.peers.dao.UserGroup" useGeneratedKeys="true" keyProperty="id">
        insert into user_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != groupId">
                group_id,
            </if>
            <if test="null != openId">
                open_id,
            </if>
            <if test="null != delFlag">
                del_flag,
            </if>
            <if test="null != ctTime">
                ct_time,
            </if>
            <if test="null != upTime">
                up_time
            </if>
            <if test="null != share">
                share
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != groupId">
                #{groupId},
            </if>
            <if test="null != openId">
                #{openId},
            </if>
            <if test="null != delFlag">
                #{delFlag},
            </if>
            <if test="null != ctTime">
                #{ctTime},
            </if>
            <if test="null != upTime">
                #{upTime},
            </if>
            <if test="null != share">
                #{share},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.eqxuan.peers.dao.UserGroup">
        update user_group
        <set>
            <if test="null != delFlag">
                del_flag=#{delFlag},
            </if>
            <if test="null != ctTime">
                ct_time=#{ctTime},
            </if>
            <if test="null != upTime">
                up_time=#{upTime},
            </if>
            <if test="null != share">
                share=#{share},
            </if>
            <if test="null != hint">
                hint=#{hint},
            </if>
        </set>
        where open_id=#{openId} AND group_id=#{groupId}
    </update>

    <update id="hintOthers">
        UPDATE user_group
        SET hint=1
        WHERE group_id=#{groupId} AND open_id != #{openId};
    </update>

    <select id="findGroup" resultMap="UserGroupMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user_group
        where open_id=#{openId} AND group_id=#{groupId}
    </select>

    <select id="findUserGroupList" parameterType="com.eqxuan.peers.dao.UserGroup" resultMap="UserGroupMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user_group
        <where>
            <if test="null != openId">
                AND open_id=#{openId}
            </if>
            <if test="null != share">
                AND share=#{share}
            </if>
        </where>
    </select>

</mapper>