<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.eqxuan.peers.mapper.UserCardMapper">
    <resultMap id="UserCardMapperResultMap"
               type="com.eqxuan.peers.dao.UserCard">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="app_id" property="appId"/>
        <result column="username" property="username"/>
        <result column="user_wechat" property="userWechat"/>
        <result column="user_company" property="userCompany"/>
        <result column="user_industry" property="userIndustry"/>
        <result column="user_city" property="userCity"/>
        <result column="user_job" property="userJob"/>
        <result column="user_img" property="userImg"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="synopsis" property="synopsis"/>
        <result column="demand" property="demand"/>
        <result column="resources" property="resources"/>
        <result column="give_like_num" property="giveLikeNum"/>
        <result column="del_flag" property="delFlag"/>
        <result column="ct_time" property="ctTime"/>
        <result column="up_time" property="upTime"/>
        <result column="prepare" property="prepare"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, open_id, app_id, username, user_wechat, user_company, user_industry, user_city, user_job, user_img, user_phone, user_email,
        synopsis, demand, resources, give_like_num, del_flag, ct_time, up_time, prepare
    </sql>

    <insert id="save" parameterType="com.eqxuan.peers.dao.UserCard" useGeneratedKeys="true" keyProperty="id">
        insert into user_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != openId">
                open_id,
            </if>
            <if test="null != appId">
                app_id,
            </if>
            <if test="null != username">
                username,
            </if>
            <if test="null != userWechat">
                user_wechat,
            </if>
            <if test="null != userCompany">
                user_company,
            </if>
            <if test="null != userIndustry">
                user_industry,
            </if>
            <if test="null != userCity">
                user_city,
            </if>
            <if test="null != userJob">
                user_job,
            </if>
            <if test="null != userImg">
                user_img,
            </if>
            <if test="null != userPhone">
                user_phone,
            </if>
            <if test="null != userEmail">
                user_email,
            </if>
            <if test="null != synopsis">
                synopsis,
            </if>
            <if test="null != demand">
                demand,
            </if>
            <if test="null != resources">
                resources,
            </if>
            <if test="null != giveLikeNum">
                give_like_num,
            </if>
            <if test="null != delFlag">
                del_flag,
            </if>
            <if test="null != ctTime">
                ct_time,
            </if>
            <if test="null != upTime">
                up_time,
            </if>
            <if test="null != prepare">
                prepare,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="null != openId">
                #{openId},
            </if>
            <if test="null != appId">
                #{appId},
            </if>
            <if test="null != username">
                #{username},
            </if>
            <if test="null != userWechat">
                #{userWechat},
            </if>
            <if test="null != userCompany">
                #{userCompany},
            </if>
            <if test="null != userIndustry">
                #{userIndustry},
            </if>
            <if test="null != userCity">
                #{userCity},
            </if>
            <if test="null != userJob">
                #{userJob},
            </if>
            <if test="null != userImg">
                #{userImg},
            </if>
            <if test="null != userPhone">
                #{userPhone},
            </if>
            <if test="null != userEmail">
                #{userEmail},
            </if>
            <if test="null != synopsis">
                #{synopsis},
            </if>
            <if test="null != demand">
                #{demand},
            </if>
            <if test="null != resources">
                #{resources},
            </if>
            <if test="null != giveLikeNum">
                #{giveLikeNum},
            </if>
            <if test="null != delFlag">
                #{delFlag},
            </if>
            <if test="null != ctTime">
                #{ctTime},
            </if>
            <if test="null != upTime">
                #{upTime},
            </if>
            <if test="null != prepare">
                #{prepare},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.eqxuan.peers.dao.UserCard">
        update user_card
        <set>
            <if test="null != appId">
                app_id=#{appId},
            </if>
            <if test="null != username">
                username=#{username},
            </if>
            <if test="null != userWechat">
                user_wechat=#{userWechat},
            </if>
            <if test="null != userCompany">
                user_company=#{userCompany},
            </if>
            <if test="null != userIndustry">
                user_industry=#{userIndustry},
            </if>
            <if test="null != userCity">
                user_city=#{userCity},
            </if>
            <if test="null != userJob">
                user_job=#{userJob},
            </if>
            <if test="null != userImg">
                user_img=#{userImg},
            </if>
            <if test="null != userPhone">
                user_phone=#{userPhone},
            </if>
            <if test="null != userEmail">
                user_email=#{userEmail},
            </if>
            <if test="null != synopsis">
                synopsis=#{synopsis},
            </if>
            <if test="null != demand">
                demand=#{demand},
            </if>
            <if test="null != resources">
                resources=#{resources},
            </if>
            <if test="null != giveLikeNum">
                give_like_num=#{giveLikeNum},
            </if>
            <if test="null != delFlag">
                del_flag=#{delFlag},
            </if>
            <if test="null != ctTime">
                ct_time=#{ctTime},
            </if>
            <if test="null != upTime">
                up_time=#{upTime},
            </if>
            <if test="null != prepare">
                prepare=#{prepare},
            </if>
        </set>
        where open_id=#{openId} and id=#{id}
    </update>


    <select id="findOneByOpenId" resultMap="UserCardMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user_card
        where open_id=#{openId}
    </select>

    <select id="findCardByParam" parameterType="com.eqxuan.peers.dao.UserCard" resultMap="UserCardMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user_card
        <where>
            <if test="null != id">
                and id=#{id}
            </if>
            <if test="null != openId">
                and open_id=#{openId}
            </if>
            <if test="null != appId">
                and app_id=#{appId}
            </if>
            <if test="null != username">
                and username=#{username}
            </if>
            <if test="null != userWechat">
                and user_wechat=#{userWechat}
            </if>
            <if test="null != userCompany">
                and user_company=#{userCompany}
            </if>
            <if test="null != userIndustry">
                and user_industry=#{userIndustry}
            </if>
            <if test="null != userCity">
                and user_city=#{userCity}
            </if>
            <if test="null != userJob">
                and user_job=#{userJob}
            </if>
            <if test="null != userImg">
                and user_img=#{userImg}
            </if>
            <if test="null != userPhone">
                and user_phone=#{userPhone}
            </if>
            <if test="null != userEmail">
                and user_email=#{userEmail}
            </if>
            <if test="null != synopsis">
                and synopsis=#{synopsis}
            </if>
            <if test="null != demand">
                and demand=#{demand}
            </if>
            <if test="null != resources">
                and resources=#{resources}
            </if>
            <if test="null != giveLikeNum">
                and give_like_num=#{giveLikeNum}
            </if>
            <if test="null != delFlag">
                and del_flag=#{delFlag}
            </if>
            <if test="null != ctTime">
                and ct_time=#{ctTime}
            </if>
            <if test="null != upTime">
                and up_time=#{upTime}
            </if>
            <if test="null != prepare">
                and prepare=#{prepare}
            </if>
        </where>
    </select>

    <select id="findAllByParam" parameterType="String" resultMap="UserCardMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user_card
        where CONCAT(username, user_wechat, user_company, user_industry, user_city, user_job)
        like CONCAT('%',#{param},'%' ) order by convert(username using gbk) ASC
    </select>

	<select id="findById" resultMap="UserCardMapperResultMap">
       select <include refid="Base_Column_List"/>
       from user_card
       where id= #{id}
    </select>

	<select id="findAllByPeerAndParam" resultType="com.eqxuan.peers.dto.ReturnCardDTO">
       select uc.id as id, uc.username as username, uc.user_wechat as userWechat, uc.user_company as userCompany, uc.user_industry as userIndustry, uc.user_city as userCity,
       uc.user_job as userJob, uc.user_img as userImg, uc.user_phone as userPhone, uc.user_email as userEmail, uc.synopsis as synopsis, uc.demand as demand,
       uc.resources as resources, uc.give_like_num as giveLikeNum, up.save_flag as saveFlag, uc.prepare as prepare
       from user_card uc, user_peer up
       where CONCAT(uc.username, uc.user_wechat, uc.user_company, uc.user_industry, uc.user_city, uc.user_job)
       like CONCAT('%',#{param},'%' ) and up.open_id = #{openId} and uc.id=up.card_id and up.save_flag=2
    </select>
</mapper>