<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.zimuka.peers.mapper.UserMapper">
    <resultMap id="UserMapperResultMap"
               type="com.zimuka.peers.dao.User">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="session_key" property="sessionKey"/>
        <result column="open_session" property="openSession"/>
        <result column="ct_time" property="ctTime"/>
        <result column="up_time" property="upTime"/>
        <result column="prepare" property="prepare"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, open_id, session_key, open_session, ct_time, up_time, prepare
    </sql>

    <insert id="save" parameterType="com.zimuka.peers.dao.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != openId">
                open_id,
            </if>
            <if test="null != sessionKey">
                session_key,
            </if>
            <if test="null != openSession">
                open_session,
            </if>
            <if test="null != ctTime">
                ct_time,
            </if>
            <if test="null != upTime">
                up_time
            </if>
            <if test="null != prepare">
                prepare,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != openId">
                #{openId},
            </if>
            <if test="null != sessionKey">
                #{sessionKey},
            </if>
            <if test="null != openSession">
                #{openSession},
            </if>
            <if test="null != ctTime">
                #{ctTime},
            </if>
            <if test="null != upTime">
                #{upTime},
            </if>
            <if test="null != prepare">
                prepare,
            </if>
        </trim>
    </insert>

    <select id="findOneByOpenId" parameterType="String" resultMap="UserMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user
        where open_id = #{openId}
    </select>

    <update id="update" parameterType="com.zimuka.peers.dao.User">
        update user
        <set>
            <if test="null != sessionKey">
                session_key=#{sessionKey},
            </if>
            <if test="null != openSession">
                open_session=#{openSession},
            </if>
            <if test="null != ctTime">
                ct_time=#{ctTime},
            </if>
            <if test="null != upTime">
                up_time=#{upTime},
            </if>
            <if test="null != prepare">
                prepare=#{prepare},
            </if>
        </set>
        where open_id=#{openId}
    </update>

    <select id="findUserByParam" parameterType="com.zimuka.peers.dao.User" resultMap="UserMapperResultMap">
        select <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="null != id">
                and id=#{id}
            </if>
            <if test="null != openId">
                and open_id=#{openId}
            </if>
            <if test="null != sessionKey">
                and session_key=#{sessionKey}
            </if>
            <if test="null != openSession">
                and open_session=#{openSession}
            </if>
            <if test="null != ctTime">
                and ct_time=#{ctTime}
            </if>
            <if test="null != upTime">
                and up_time=#{upTime}
            </if>
            <if test="null != prepare">
                and prepare=#{prepare}
            </if>
        </where>
    </select>

</mapper>